{
  "singleQuote": true,
  "semi": true,
  "printWidth": 140,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.md",
      "options": { "parser": "markdown" }
    }
  ]
}
