<script src="../../app.module.ts"></script>
<div class="login-container">
  <header class="login-header">
    <div class="login-header__left flex">
      <img src="./assets/Fb-Logo.png" alt="logo">
      <h2>
        Facebook helps you connect and share with the people in your life.
      </h2>
    </div>
    <div class="login-header__left">
      <mat-card class="login-header__right__card">
        <mat-card-content class="flex-1">
          <form #form="ngForm" class="login-form" (ngSubmit)="login(form)" action="">
            <input type="text" name="email" ngModel placeholder="Email address" required>
            <br>
            <input type="password" name="password" ngModel placeholder="Password" required>
            <br>
            <button type="submit"
                    class="login-button "
                    mat-flat-button
                    color="blue"
                    [disabled]="form.invalid || form.pending">Login
            </button>
          </form>
          <div class="text-center my-3 text-blue-700">
            <a href="#">Forgotten account?</a>
          </div>

          <hr>
          <button mat-flat-button class="create-account "
                  color="green"
                  (click)="openRegister()">
            Create New Account
          </button>
        </mat-card-content>
        <div class="text-center mt-7 tracking-wide">
          <a href="#" class="font-bold"> Create a Page</a> for a celebrity, band of business
        </div>
      </mat-card>


    </div>
  </header>
</div>
<div class="pt5">

</div>
<footer style="
    list-style-type: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 980px;
    line-height: 1.34;
    font-family: inherit;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    ">
  <div class="mt-5 mb-5 ml-2">Language Selection</div>
  <hr>
  <div class="footer-bar">
    <span><a href="#"> Sign Up</a></span>
    <span><a href="#"> Log In</a></span>
    <span><a href="#"> Messenger</a></span>
    <span><a href="#"> Facebook Lite</a></span>
    <span><a href="#"> Watch</a></span>
    <span><a href="#"> People</a></span>
    <span><a href="#"> Pages</a></span>
    <span><a href="#"> Page categories</a></span>
    <span><a href="#"> Places</a></span>
    <span><a href="#"> Games</a></span>
    <span><a href="#"> Locations</a></span>
    <span><a href="#"> Marketplace</a></span>
    <span><a href="#"> Groups</a></span>
    <span><a href="#"> Jobs</a></span>
    <span><a href="#"> Oculus</a></span>
    <span><a href="#"> Oculus</a></span>
    <span><a href="#"> Portal</a></span>
    <span><a href="#"> Instagram</a></span>
    <span><a href="#"> Local</a></span>
    <span><a href="#"> Fundraisers</a></span>
    <span><a href="#"> Services</a></span>
    <span><a href="#"> Voting Information Centre</a></span>
    <span><a href="#"> About</a></span>
    <span><a href="#"> Create ad</a></span>
    <span><a href="#"> Create Page</a></span>
    <span><a href="#"> Developers</a></span>
    <span><a href="#"> Careers</a></span>
    <span><a href="#"> Privacy</a></span>
    <span><a href="#"> Cookies</a></span>
    <span><a href="#"> AdChoices</a></span>
    <span><a href="#"> Terms</a></span>
    <span><a href="#"> Help</a></span>
    <span><a href="#"> Settings</a></span>
    <span><a href="#"> Activity log</a></span>
  </div>
  <div class="mvl copyright">
    <div><span> Social Copy Practice © 2077</span></div>
  </div>
</footer>
