@import "src/styles";

.login-container {
  background-color: #F0F2F5;
  height: 100vh;
  width: auto;
  position: relative;;
  display: flex;
  flex-direction: column;
}

.login-header {
  height: 80vh;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  &__left {
    width: 580px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      margin-right: 32px;
      margin-bottom: 20px;
      height: 70px;
    }

    h2 {
      font-size: 26px;
      font-weight: normal;
      line-height: 32px;
      width: 500px;
      font-family: "Calibri";
      color: #737373;
    }
  }


  &__right {

    &__card {
      height: 380px;
      width: 400px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 1px;
      line-height: 1.34;

      mat-card-content {
        padding: 6px 0;
        display: flex;
        flex-direction: column;
        margin-top: auto;

        .login-form {
          display: flex;
          flex-direction: column;
          text-align: center;

          input {
            padding: 20px;
            outline: none;
            border: 1px solid lightgrey;
            border-radius: 5px;

            &::placeholder {
              font-size: 16px;
              font-weight: normal;
            }
          }
          .login-button {
            padding: 16px;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: medium;
            box-sizing: content-box;
          }
          // End of Input
        }
        // End of Login Form
        .create-account {
          display: inline-block;
          padding: 16px 25px;
          outline: none;
          border: none;
          border-radius: 7px;
          margin-bottom: 20px;
          margin-top: 20px;
          cursor: pointer;
          font-size: medium;
          align-self: center;
        }
        a {
          text-decoration: none;
          cursor: pointer;
        }
      }
      // End of Card Content
    }
  }
}

span {
  display: inline-flex;
  padding-top: 3px;
  margin: 0;
  color: #737373;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 10px;
  font-size: 12px;
}
.footer-bar{
  gap: 3px;
}
// assign material button color beyond the template color;
.mat-green {
  background-color: #42b72a;
  color: #fff;
}

.mat-blue {
  background-color: #1877f2;
  color: white;
}


